<div mat-dialog-title>Add Expense</div>
<mat-dialog-content>
    <form [formGroup]="formGroup" class="m-r-20 m-l-20">
        <mat-form-field class="full-width m-r-20">
            <mat-label>Category</mat-label>
            <input matInput required="true" [(ngModel)]="data.category" name="category" formControlName="category">
            <mat-error
                *ngIf="formGroup.controls['category'].errors && formGroup.controls['category'].errors['required']">This
                is mandatory!</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width m-r-20">
            <mat-label>Date</mat-label>
            <input matInput required="true" [(ngModel)]="data.date" name="date" formControlName="date">
            <mat-error *ngIf="formGroup.controls['date'].errors && formGroup.controls['date'].errors['required']">This
                is mandatory!</mat-error>
        </mat-form-field>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Amount</mat-label>
                <input matInput required="true" type="number" [(ngModel)]="data.amount" name="amount"
                    formControlName="amount">
                <mat-error
                    *ngIf="formGroup.controls['amount'].errors && formGroup.controls['amount'].errors['required']">This
                    is mandatory!</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width m-r-20">
                <mat-label>Remark</mat-label>
                <input matInput [(ngModel)]="data.remark" name="remark" formControlName="remark">
            </mat-form-field>
        </div>
    </form>
    <app-loader *ngIf="isLoader" [overlay]="true"></app-loader>
</mat-dialog-content>
<mat-dialog-actions class="text-center">
    <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid" (click)="add()">Add</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>