.pb {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 160px;
    padding: 16px 14px 0;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgba(235,239,247,.8);
    box-shadow: 0 2px 4px 0 rgba(5,47,95,.04), 0 12px 16px 0 rgba(52,105,203,.12);
    margin-bottom: 32px;
    cursor: pointer;
    transition: .3s;
    position: relative;
  }
  .pb:hover{
    width: 105%;
    height: 165px;
  }
  .service-content {
    margin-left: 15%;
    margin-right: 15%;
  }
  .product-icon {
    text-align: right;
      height: 60px;
      margin-top: auto;
      transition: all .3s;
      position: absolute;
      right: 5px;
      top: 14px;
  }
  .static-banner {
    background-image: url(/assets/images/bg-banner.png) ;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
  }
  .content {
    padding: 220px;
    margin-left: 100px;
    padding-top: 150px;
  }
  h2{
    color: #1b1dc7;
    font-weight: bold;
  }
  .news-card{
    overflow: scroll;
    height: 1000px;
  }
  .bg-color{
    background-color: #f3f1ecfc;
  }
  /* p{
    color: aliceblue;
    text-shadow: 20px #000;
  } */
//   .btn{
//     // background-color: rgb(255, 87, 34);
//     margin: 5px;
//     // color: aliceblue;
//   }

  
  