table{
    width: 100%;
}
.full-width{
    width: 100%;
}
.mat-column-srNo{
    width: 10%;
}
.mat-column-source{
    width: 30%;
}
.mat-column-amount{
    width: 30%;
}
.mat-column-menu{
    width: 30%;
}
.right{
    float:right
}