.scrollable{
    overflow-x: scroll;
}
table{
    width: 100%;
}
.full-width{
    width: 100%;
}
.mat-column-srNo{
    width: 10%;
}
.mat-column-category{
    width: 30%;
}
.mat-column-start_date{
    width: 40%;
}
.mat-column-principle{
    width: 30%;
}
.mat-column-emi{
    width: 30%;
}
.mat-column-no_of_emi{
    width: 40%;
}
.mat-column-net_loan_amt{
    width: 30%;
}
.mat-column-laps_emi{
    width: 30%;
}
.mat-column-remark{
    width: 30%;
}

.mat-column-menu{
    width: 30%;
}
.right{
    float:right
}